body{
  margin: 0px;
  font-family: "Helvetica Neue"
}

.banner{
  background-image: url('../assets/images/banner/head.png');
  width: 100%;
  height: 244px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

.page{
  width: 1000px;
  margin: 0 auto;
  transition: .2s;
}

.content-container{
  width: 100%;
  float: left;
  height: 320px;
  position: relative;
  overflow: hidden;
}

.arrow{
  width: 50px;
  height: 50px;
  float: left;
}

.button .label{
  float: left;
  padding-top: 15px;
  margin-right: 10px;
}

.prev{
  display: inline;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.next{
  display: inline;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.centered{
  text-align: center;
}

.full-width{
  width: 100%;
}

.purple{
  color: rgb(153, 153, 204);
}

.tile{
  float: left;
  width: 20%;
  height: 100%;
  margin-right: 5%;
}

.tile .image{
  background-size: cover;
  background-position: bottom;
  height: 80%;
  width: 100%;
  float: left;
}

.main-head{
  padding-top: 10px;
  padding-bottom: 10px;
}

.button:hover{
  cursor: pointer;
}

.tile .name{
  float: left;
  background-color: rgb( 220, 220, 220 );
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
}

.name input{
  margin-left: 10px;
  float: left;
}

.name .label{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 1px;
}

.button-container{
  float: left;
  height: 50px;
}

.small-type{
  font-weight: 200;
  font-size: 10pt;
  letter-spacing: 1px;
}

.purple-background{
  background-color: rgb(102, 0, 161);
}

.float-left{
  float: left;
}

.white{
  color: white;
}

.button .label{
  letter-spacing: 1px;
}

.main-container{
  float: left;
  width: 100%;
}

.main{
  width: 100%;
  height: 300px;
}

.main .image{
  float: left;
  background-size: contain;
  width: 33%;
  height: 100%;
  background-repeat: no-repeat;
}

.funchal h2{
  margin-bottom: 30px;
  font-weight: 400;
  border-bottom: 1px solid black;
}

.funchal li{
  text-decoration: none;
  text-indent: none;
  list-style-type: none;
  line-height: 1.4em;
}

.main .funchal{
  margin-left: 5%;
  float: left;
  width: 28%;
}

.list-item{
  float: left;
  clear: both;
  margin-top: 5px;
}

.price-container{
  float: left;
  width: 25%;
}

.dark-purple{
  color: rgb(102, 0, 161);
}

.price{
  margin-top: 20px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.list-icon{
  width: 15px;
  margin-top: 2px;
  margin-right: 10px;
  height: 15px;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.main{
  border: 1px solid rgb( 230,230,230 );
  margin-top: 10px;
}

.price h2{
  margin: 5px;
}

.widetile{
  width: 33%;
}

.price-container .button{
  width: 100%;
  height: 60px;
  margin-top: 10px;
  background-size: contain;
  float: left;
  background-repeat: no-repeat;
}

@media (max-width: 1000px){
  .page{
    width: 600px;
  }

  .banner{
    height: 157px;
  }


  body{
    font-size: 10pt;
  }

  .content-container{
    height: 500px;
  }

  .tile{
    height: 40%;
    width: 45%;
    margin: 0px;
    margin-right: 5%;
    margin-bottom: 10%;
  }

  .small-type{
    font-size: 10pt;
  }

}

@media (max-width: 640px){
  .page{
    width: 100vw;
  }

  .banner{
    height: 105px;
  }

  .main{
    height: 800px;
  }

  .main .image{
    height: 33%;
    width: 100%;
    background-position: center;
  }

  .main .funchal{
    padding-left: 10%;
    width: 66%;
    font-size: 10pt;
    height: 33%;
  }

  .price-container{
    width: 60%;
    margin-left: 10%;
  }

  .funchal h2{
    font-size: 24pt;
  }

}

@media only screen and (max-device-width: 480px){
  .page{
    width: 100vw;
  }

  .content-container{
    height: initial;
    width: 100vw;
    height: 80vh;
  }

  .button-container{
    height: 100px;
    width: 100vw;
  }

  .full-width{
    padding-bottom: 20px;
    width: 90%;
  }

  .button .label{
    height: 100px;
    float: left;
    background-size: contain;
    padding-top: 25px;
    font-size: 32pt;
  }

  .button .arrow{
    width: 100px;
    height: 100px;
    background-size: contain;
  }

  h2.full-width {
    padding-left: 20%;
    width: 60%;
    padding-right: 20%;
    font-size: 32pt;
  }

  .banner{
    height: 257px;
  }

  .tile{
    margin-left: 5%;
    margin-right: 0px;
  }

  .main{
    height: 1600px;
  }

  .main .image{
    height: 33%;
    width: 100%;
    background-position: center;
  }

  .main .funchal{
    padding-left: 10%;
    width: 66%;
    margin-left: 0px;
    font-size: 24pt;
    height: 33%;
  }

  .price-container{
    width: 60%;
    font-size: 24pt;
    margin-left: 10%;
  }

  .name .label{
    font-size: 24pt;

  }

  input[type="checkbox"]{
    height: 33px;
    width: 33px;
  }

  .price-container .button{
    width: 80%;
    margin-top: 40px;
    height: 100px;
  }



}
